<div
    style="
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
            'Helvetica Neue', sans-serif;
    "
>
    <div style="width: 500px; margin: 50px auto 0">
        <!-- <img src="https://logo image 주소" /> -->
    </div>
    <div style="width: 500px; margin: 30px auto 0">
        <span style="font-weight: bold; font-size: 22px; color: #424c59"> Verification Code </span>
        <!-- <img src="https://아이콘 이미지 주소" /> -->
    </div>
    <div style="width: 500px; margin: 50px auto 0; font-weight: bold; font-size: 14px; color: #424c59">
        <div>Hello, <span style="color: #567dff"><%= to %></span></div>
        <div style="margin-top: 2px">Enter the verification code below to complete the registration.</div>
    </div>
    <div style="width: 500px; margin: 30px auto 0">
        <div
            style="
                width: 268px;
                padding: 14px 0;
                background-color: #567dff;
                border-radius: 8px;
                text-align: center;
                font-size: 22px;
                color: white;
                letter-spacing: 12px;
            "
        >
            <%= code %>
        </div>
        <div style="width: 500px; margin: 40px auto 0; font-size: 13px; color: #647183">
            <div>* This mail is an outgoing mail sent for mail verification.</div>
            <div style="margin-top: 4px">
                * Please send inquiries to <a href="mailto:cs@company.com">cs@company.com</a>
            </div>
        </div>
        <div
            style="
                width: 500px;
                margin: 40px auto 0;
                padding-bottom: 30px;
                border-bottom: 1px solid #b2bbc8;
                font-weight: bold;
                font-size: 18px;
                color: #424c59;
            "
        >
            Keeping Team.
        </div>
        <div style="width: 500px; margin: 10px auto 0; font-size: 12px; line-height: 22px; color: #424c59">
            <span>COMPANY NAME</span>&nbsp; <span style="font-size: 11px">|</span>&nbsp;
            <span>CEO : name</span>&nbsp; <span style="font-size: 11px">|</span>&nbsp;
            <span>Business Registration Number : 000-00-00000</span>
        </div>
        <div style="width: 500px; margin: 0 auto; font-size: 12px; line-height: 22px; color: #424c59">
            <span>Address : Dongnae-gu, Busan, Republic of Korea</span>
        </div>
        <div style="width: 500px; margin: 0 auto; font-size: 12px; line-height: 22px; color: #424c59">
            <span>Site : <a href="https://company.com">https://company.com</a></span
            >&nbsp; <span style="font-size: 11px">|</span>&nbsp;
            <span>Contact us : <a href="mailto:cs@company.com">cs@company.com</a></span>
        </div>
    </div>
</div>
