<div
    style="
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
            'Helvetica Neue', sans-serif;
    "
>
    <div style="width: 500px; margin: 50px auto 0">
        <!-- <img src="https://logo image 주소" /> -->
    </div>
    <div style="width: 500px; margin: 30px auto 0">
        <span style="font-weight: bold; font-size: 22px; color: #424c59"> 비밀번호 재설정 </span>
        <!-- <img src="https://아이콘 이미지 주소" /> -->
    </div>
    <div style="width: 500px; margin: 50px auto 0; font-weight: bold; font-size: 14px; color: #424c59">
        <div>안녕하세요, <span style="color: #567dff"><%= to %></span> 회원님</div>
        <div style="margin-top: 2px">아래의 버튼을 클릭하시면, 비밀번호를 재설정하실 수 있습니다.</div>
    </div>
    <div style="width: 500px; margin: 30px auto 0">
        <a style="text-decoration: none" href="<%= link %>" target="_blank">
            <div
                style="
                    width: 268px;
                    padding: 14px 0;
                    background-color: #567dff;
                    border-radius: 8px;
                    text-align: center;
                    font-size: 17px;
                    color: white;
                "
                onMouseOver="this.style.opacity=0.8"
                onMouseOut="this.style.opacity=1"
            >
                비밀번호 재설정하기
            </div>
        </a>
        <div style="width: 500px; margin: 40px auto 0; font-weight: bold; font-size: 14px; color: #424c59">
            만약 본인이 요청한 것이 아닌 경우, 본 메일은 무시해 주세요.
        </div>
        <div style="width: 500px; margin: 20px auto 0; font-size: 13px; color: #647183">
            <div>* 본 메일은 비밀번호 재설정을 위해 발송한 발신 전용 메일 입니다.</div>
            <div style="margin-top: 4px">
                * 문의사항은 <a href="mailto:cs@company.com">cs@company.com</a>로 보내주시길 바랍니다.
            </div>
        </div>
        <div style="
                width: 500px;
                margin: 40px auto 0;
                padding-bottom: 30px;
                border-bottom: 1px solid #b2bbc8;
                font-weight: bold;
                font-size: 18px;
                color: #424c59;
            ">키핑 팀 드림.</div>
        <div style="width: 500px; margin: 10px auto 0; font-size: 12px; line-height: 22px; color: #424c59">
            <span>회사이름</span>&nbsp; <span style="font-size: 11px">|</span>&nbsp;
            <span>대표이사 : 이름</span>&nbsp; <span style="font-size: 11px">|</span>&nbsp;
            <span>사업자 등록번호 : 000-00-00000</span>
        </div>
        <div style="width: 500px; margin: 0 auto; font-size: 12px; line-height: 22px; color: #424c59">
            <span>주소 : 부산광역시 동래구</span>
        </div>
        <div style="width: 500px; margin: 0 auto; font-size: 12px; line-height: 22px; color: #424c59">
            <span>사이트 : <a href="https://company.com">https://company.com</a></span
            >&nbsp; <span style="font-size: 11px">|</span>&nbsp;
            <span>문의하기 : <a href="mailto:cs@company.com">cs@company.com</a></span>
        </div>
    </div>
</div>
